[submodule "Projetos-Github-RPA/Python/Automacao-Relatorio-Diario"]
	path = Projetos-Github-RPA/Python/Automacao-Relatorio-Diario
	url = https://github.com/danfreire1/RPA/tree/main/Projetos-Github-RPA
